*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input{
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    text-transform: capitalize;
    color: black;
    background-color: #e6f5fb;
}


.search-box button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    font-size: 1.1rem;
    color: #0000008d;
    border: 2px solid rgba(255,255,255,0.18);
    cursor: pointer;
    transition: all 0.2s ease;
}

.search-box button:hover {
    transform: scale(1.1);
    background: rgb(167, 244, 167);
}

.container{
    width: 400px;
    height: min-content;
    border-radius: 12px;
    padding: 28px;
    background: url("assets/bg.jpg");
    background-size: cover;
}

.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    
}

.weather-body img{
    width: 60%;
    filter: drop-shadow(0 4px rgba(0,0,0,0.4));
    
}

.weather-box{
    margin-block: 10px;
    text-align: center;
}

.weather-box p{
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,1);
}

.weather-box .temperature{
    font-size: 70px;
    font-weight: bold;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 35px;
    position: absolute;
    font-weight: lighter;
}

.weather-box .description{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
    gap: 5px;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.text{
    text-align: center;
    font-size: 1.1rem;
}

.text span{
    font-size: 1.5rem;
    font-weight: bold;
}

.location-not-found{
    margin-top: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-not-found h3{
    color: #00000075;
}

.location-not-found img{
    width: 80%;
    filter: drop-shadow(2px 1px rgba(0,0,0,0.6));
}

@media (max-width: 600px) {
    .container{
        margin-inline: 20px;
    }

    .weather-box .temperature{
        font-size: 100px;
    }

    .weather-box .temperature sup{
        font-size: 50px;
    }

    .humidity{
        margin-left: 0px;
    }

    .wind{
        margin-right: 0px;
    }

    .weather-box .description{
        font-size: 30px;
    }

}